@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.btn-create{
  float: right;
  margin-bottom: 10px !important;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  font-family: 'Montserrat', sans-serif;
  font-size: 12px !important;
}